body {
  background: #78888c;
}
h1,
p,
footer {
  text-align: center;
  color: white;
}
h1 {
  font-size: 50px;
  margin: 50px 0px 0;
}
footer a {
  margin: 0 10px;
  color: white;
}
img {
  margin: -50px auto;
  display: block;
  transform: rotate(0.25turn);
  max-width: 400px;
  box-shadow: 1px 4px 30px rgba(60, 60, 61, 0.8);
}
